
<div class="home-search-bar">
  <div class="search-player">
    <input #searchBar class="form-control" type="text" (keyup.enter)="searchEpicPlayer(searchBar.value)" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search player stats by name or EpicGames Id">
  </div>

</div>



<!--div class="home-container">
  <button class="store-title" [routerLink]="['/api/account']">
    <h2>ACCOUNT (test)</h2>
    <span class="polygon"></span>
  </button>

  <button class="store-title" [routerLink]="['/api/t']">
    <h2>BACKGROUND (test)</h2>
    <span class="polygon"></span>
  </button>
</div-->

<br>

<h1 class="news-header">LAST EPIC NEWS</h1>
<div class="news-splitter">
  <span class="polygon"></span>
</div>


<div class="news-container">
  <span *ngFor="let news of epicNews; let i = index">
    <div class="news-card" *ngIf="i <= 1 || !!toggleMoreNews">
      <div class="news-info">
        <img class="news-image" src= {{news.image}} align="left" height="auto" width="35%">
        <h2 class="news-title"> {{news.title}} </h2>
        <h4 class="news-subtitle"> {{news.body}} </h4>
      </div>
    </div>
    <div class="news-card" style="height: 7rem; overflow: hidden;" *ngIf="i === 2 && !!!toggleMoreNews" >
      <div class="news-info" style="border-bottom: 0;">
        <img class="news-image" src= {{news.image}} align="left" height="auto" width="35%">
        <h2 class="news-title"> {{news.title}} </h2>
      </div>
    </div>
  </span>

<div style="text-align: center" *ngIf="!!!toggleMoreNews">
  <svg width="120" height="120" style="position: sticky; z-index: 2; margin-top: -4rem" (click)="toggleNews()">
    <a>
      <path d="M   0   0
             L 120   0
             L 120 120
             L  60  80
             L   0 120
             Z"
            fill="#9A2EFE"/>
      <text x="60"
            y="50"
            fill="#FFFFFF"
            text-anchor="middle"
            alignment-baseline="middle">
        View More
      </text>
    </a>
  </svg>
</div>




</div>





