


<div class="home-search-bar">
  <div class="search-player">
    <input #searchBar class="form-control" type="text" (keyup.enter)="searchEpicPlayer(searchBar.value)" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search player stats by name or EpicGames Id">
  </div>

</div>



<!--div class="home-container">
  <button class="store-title" [routerLink]="['/api/account']">
    <h2>ACCOUNT (test)</h2>
    <span class="polygon"></span>
  </button>

  <button class="store-title" [routerLink]="['/api/t']">
    <h2>BACKGROUND (test)</h2>
    <span class="polygon"></span>
  </button>
</div-->

<br>
<br>

<h1 class="news-header">LAST EPIC NEWS</h1>
<div class="news-splitter">
  <span class="polygon"></span>
</div>


<div class="news-container">
  <div class="news-card" *ngFor="let news of epicNews">
    <div class="news-info">
      <img src= {{news.image}} align="left" height="auto" width="35%">
      <h1 class="news-title"> {{news.title}} </h1>
      <h3 class="news-subtitle"> {{news.body}} </h3>
    </div>
  </div>
</div>





