.page-footer {
  display: block;
  padding-top: 20px;
  bottom: 0;
  border-top: solid 2px 	rgba(190, 129, 247, 0.7);
  box-shadow: 10px -10px 200px #9A2EFE;
}

.mb-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;

}


