.challenges-title {
  width: 100%;
  background: #f1ed62;
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: 'Luckiest Guy', cursive;
  border-radius: 5px;
  justify-content: flex-end
}

.polygon {
  background: #d9b00b;
  clip-path: polygon(100% 0%,100% 100%,54% 40%,56% 67.5%,0% 0%);
  padding-left: 500px;
  border-radius: 5px;
  width: max-content;
  margin-left: auto;
}

.challenges-container {
  text-align: center;
}

.challenges-detail {
  color: #fff;
}

h1 { text-align: center; }

h2 { margin: 5px 0 5px 15px; }

.btn-group {
  display: flex;
}

.btn {
  font-weight: bold;
}

.challenge-description {
  font-family: monospace;
  color: whitesmoke;
  max-height: 5rem;
  letter-spacing: 1px;
  overflow: hidden;
}

.locked {
  font-size: 6rem;
}
