.challenges-title {
  width: 100%;
  background: #f1ed62;
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: 'Luckiest Guy', cursive;
  border-radius: 5px;
  justify-content: flex-end
}

.weeks-container .challenges-container {
  color: #fff;
}

.week-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 60%;
  font-weight: bold;
  font-size: large;
  background-image: linear-gradient(#4B088A, #aa66cc);
  border: solid 1px #BE81F7;
}

h1 {
  text-align: center;
}



h2 {
  margin: 5px 0 5px 15px;
}

.polygon {
  background: #d9b00b;
  clip-path: polygon(100% 0%,100% 100%,54% 40%,56% 67.5%,0% 0%);
  padding-left: 500px;
  border-radius: 5px;
  width: max-content;
  margin-left: auto;
}

.btn-group {
  display: flex;
}
