<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Black Swan</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Challenges</a>
      </li>
    </ul>

    <!-- Dropdown -->
    <div class="nav-item dropdown" dropdown>
      <a dropdownToggle  type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        <i class="fas fa-user"></i> Profile <span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Account</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Configuration</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log Out</a>
      </div>
    </div>

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
