////////////////////////////////////// SEARCH BAR //////////////////////////////////////////////


.search-player {
  margin: 0 auto;
  width: 80%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.form-control {
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 2rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0 auto;
}

input {
  box-shadow: 0px 0px 177px -4px rgba(255,255,255,1);
  text-align: center;
}
/////////////////////////////////////// LOADER //////////////////////////////////////////////////////

@-webkit-keyframes spinner { /* For Safari */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-it {
  -webkit-animation: spinner 1s linear infinite; /* Safari */
  animation: spinner 1s linear infinite;
}


.fa-spinner {
  font-size: 4.9em;
  color: #077784;
}
.fa-circle-o-notch {
  font-size: 4.9em;
  color: #077784;
}
.fa-refresh {
  font-size: 4.9em;
  color: #077784;
}


////////////////////////////////////// MAIN STATISTICS //////////////////////////////////////////////

.statistics-container {
  width: 45rem;
  background-color: #424242;
  border-radius: 5px;
  border: solid;
}

.statistics-username {
  text-align: center;
  margin-top: 35px;
  background-color: #6E6B6B;
  font-family: fantasy;
  padding: 10px 0 5px 0;
}

.statistics-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.statistics-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

h4 {
  font-weight: 400;
}

span {
  color: #6E6B6B;
  font-size: xx-large;
}

.grid-wins {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-kills {
  grid-column-start: 3;
  grid-column-end: 5;
}

.grid-matches {
  grid-column-start: 5;
  grid-column-end: 7;
}


.grid-splitter {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 6;
  height: 1px;
  background-color: #6E6B6B;
  margin: 15px 0 15px 0;
}

.grid-winrate {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
.grid-kd {
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}
.grid-title {
  font-weight: bold;
}

////////////////////////////////////// GAMEMODE STATISTICS //////////////////////////////////////////////



