.store-container {
  max-width: 60rem;
  margin: 0 auto;
}

.store-title {
  width: 100%;
  background: #f1ed62;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: 'Luckiest Guy', cursive;
  border-radius: 5px;
  border: solid #d9b00b;
  justify-content: flex-end
}

h2 {
  margin: 5px 0 5px 15px;
}

.polygon {
  background: #d9b00b;
  clip-path: polygon(100% 0%,100% 100%,54% 40%,56% 67.5%,0% 0%);
  padding-left: 500px;
  border-radius: 5px;
  width: max-content;
  margin-left: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid;
  padding: 10px 0 10px 0;
  height: 500px;
  background: #424242 url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");

}

.box-item {
  position: relative;
  border: 5px solid transparent;
  border-image-slice: 30;
  margin: 5px 5px 5px 5px;
  transition: .3s;
  box-shadow: 6px 10px 5px 0 rgba(0,0,0,0.6);
}

.box-item:hover {
  transform: scale(1.1);
}

.box-content {
  height: 175px;
  width: 175px;
  background-size: cover;
}

.box-content-footer {
  font-family: 'Luckiest Guy', cursive;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: aliceblue;

}

.box-content-footer-name {
  background: rgba(0,7,36,.5);
  font-size: 110%;
  padding: 8px;
}

.box-content-footer-vbucks {
  background-color: #000724;
  padding-bottom: 4px;
  padding-top: 4px;
}





