

<div class="home-wrapper">

  <img src = "https://fortnite-public-files.theapinetwork.com/featured/a43d402-cefd37e-7bbf721-e553c4f.png" >

  <img class="one" src = "https://fortnite-public-files.theapinetwork.com/featured/09700f9-45fc58c-a132f81-9680b52.png" >

  <img src = "https://fortnite-public-files.theapinetwork.com/featured/413713e-126d9c6-95f47d8-54b647d.png">


  <!--div>
  <img src = "https://fortnite-public-files.theapinetwork.com/featured/09700f9-45fc58c-a132f81-9680b52.png" width="100%" height="auto">
      <img src = "https://fortnite-public-files.theapinetwork.com/featured/09700f9-45fc58c-a132f81-9680b52.png" width="100%" height="auto">
  <img src = "https://fortnite-public-files.theapinetwork.com/featured/09700f9-45fc58c-a132f81-9680b52.png" width="100%" height="auto">

</div-->
</div>

<div>

  <div class="wrapper">

    <div class="wrapper-element" >

      <div class="box-item" >
        <img src = "https://fortnite-public-files.theapinetwork.com/featured/a43d402-cefd37e-7bbf721-e553c4f.png" >

      </div>
    </div>

    <div class="wrapper-element" >
      <div class="box-item" >
        <img src = "https://fortnite-public-files.theapinetwork.com/featured/a43d402-cefd37e-7bbf721-e553c4f.png" >

      </div>
    </div>

    <div class="wrapper-element" >
      <div class="box-item" >
        <img src = "https://fortnite-public-files.theapinetwork.com/featured/a43d402-cefd37e-7bbf721-e553c4f.png" >

      </div>
    </div>

  </div>

</div>

