<app-navbar></app-navbar>

<!-- main app container -->
<div class="jumbotron">

  <!-- DElete image and css from app and home-->
  <!--div class="image-container">
    <img class="floating-image" src="https://fortnite-public-files.theapinetwork.com/featured/9873376-84e54dd-54c54dd-9ce5a82.png">
  </div-->
  <!---->


  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



<!-- handmade footer loaded from components using its selector -->
<app-footer></app-footer>






