.jumbotron {
  background-color: #424242;
  margin-bottom: 0;
  padding-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

}


.col-sm-6 {
  display: contents;
}







