<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="footer-container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center mb-1">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem; margin-left: 20%; margin-right: 20%"> Black Swan Fortnite allows you to quickly check player stats to see their progression. Moreover, we keep you
          up to date with your season challenges, news and patch notes. Join the community and get gifts and prizes such as vbucks, controllers,
          keybords, headphones... We will help you to become the next Fortnite black swan. </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!--Facebook-->
          <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
          <!--Twitter-->
          <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
          <!--Google +-->
          <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
          <!--Linkedin-->
          <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
          <!--Instagram-->
          <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
          <!--Pinterest-->
          <a class="pin-ic mr-3" role="button"><i class="fab fa-lg fa-pinterest"></i></a>
          <!--Vkontakte-->
          <a class="vk-ic mr-3" role="button"><i class="fab fa-lg fa-vk"></i></a>
          <!--Stack Overflow-->
          <a class="so-ic mr-3" role="button"><i class="fab fa-lg fa-stack-overflow"></i></a>
          <!--Youtube-->
          <a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
          <!--Slack-->
          <a class="slack-ic mr-3" role="button"><i class="fab fa-lg fa-slack-hash"></i></a>
          <!--Github-->
          <a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>
          <!--Comments-->
          <a class="comm-ic mr-3" role="button"><i class="fas fa-lg fa-comments"></i></a>
          <!--Email-->
          <a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>
          <!--Dribbble-->
          <a class="dribbble-ic mr-3" role="button"><i class="fab fa-lg fa-dribbble"></i></a>
          <!--Reddit-->
          <a class="reddit-ic" role="button"><i class="fab fa-lg fa-reddit-alien"></i></a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> BlackSwan Corp.</a>
  </div>
  <!-- Copyright -->

</footer>






