
<div class="login-container">
  <h2>Login</h2>

  <form id="logForm" [formGroup]="loginForm" (ngSubmit)="login()">
  <span *ngIf="renderLoginForm===true">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <span style="color: red"
              *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          <i class="fas fa-info-circle"></i> {{ validation.message }}
        </span>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password"/>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <span style="color: red"
              *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          <i class="fas fa-info-circle"></i> {{ validation.message }}
        </span>
      </ng-container>
    </div>
  </div>
  <div class="form-group">

    <button class="btn btn-primary btn-login" type = "submit" [disabled]="!loginForm.valid">Log in</button>
  </div>
  </span>
  </form>

  <div class="social-container">
    <button *ngIf="!renderLoginForm" class="btn btn-light btn-social" (click)="toggleLoginForm()"><img class="img-responsive" style="height: 1.6rem" src="assets/socialblackswan.png"> &nbsp; BlackSwan Account</button>
    <button class="btn btn-light btn-social"><img class="img-responsive" style="height: 1.6rem" src="assets/socialgoogle.png"> &nbsp; Log in with Google</button>
    <button class="btn btn-light btn-social"><img class="img-responsive" style="height: 1.8rem;" src="assets/socialfacebook.png">&nbsp;Log in with Facebook</button>
    <div style="text-align: center; margin-top: 1rem; color: white" > No account? <a routerLink="/api/signup" style="font-weight: bold">Create one</a></div>
  </div>
</div>


